@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#profile i{
    padding-right: 10px;
}

#wel{
    padding-top: 25px;
    padding-bottom: 15px;
}

#welcome{
    color: aliceblue;
    text-align: center;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
}

#welcome_p{
    color: aliceblue;
    text-align: center;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#live_head{
    font-family: 'Anton', sans-serif;
}

#date{
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > div[class*='col-'] {
    display: flex;
    margin-bottom: 15px;
}

#live_card{
    padding: 10px 10px 10px 10px;
}

.details{
    position: absolute;
    bottom:   0;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}


.cards_item {
    display: flex;
    padding: 1rem;
}


@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}


@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}


.card {
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.card_content {
    padding: 1rem;
    background: #fdfdff
}


.card_title {
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.card-btn{
    padding: 0.8rem;
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    display: block;
    width: 50%;
    cursor: pointer;
    color: rgb(32, 32, 32);
    border: 3px solid rgba(19, 18, 18, 0.2);
    background: transparent;}

.card-btn:hover {
    background-color: #d39bec;
    }

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:100px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
    align-items: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    align-items: center;
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}