<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Title-->
    <title>Players Information - Sportify</title>

    <!--Bootstrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

    <!--Jquery CDN-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!--Ajax CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!--CSS File Links-->
    <link rel="stylesheet" href="../static/css/player_info.css">

</head>
<body>

    <!-- Navbar Start -->
    <nav class="navbar  navbar-expand-lg fixed-top navbar-dark bg-dark mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-family: Arial, Helvetica, sans-serif;">Sportify</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for('sportify')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for('cricket')}}">Cricket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for('previous_cricket')}}">Previous Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for('cricket_teams')}}">Cricket Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('player')}}">Player Info</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Select Sports
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{url_for('sportify')}}">Football</a></li>
                            <li><a class="dropdown-item" href="{{url_for('sportify')}}">Basketball</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <a id="profile" class="btn btn-outline-success me-3"><i class="fas fa-user"></i>{{user_data['name']}}</a>
                </form>
            </div>
        </div>
    </nav>

    <!--Welcome Heading-->
    <div id="wel" class="mt-5 bg-success">
        <h1 class="mb-4" id="welcome">Player Information</h1>
        <div id="welcome_p">
            Here you will get To know about different types of stats for the cricket player you want to search
        </div>
    </div>
    <br><br>


    <div class="container">
        <div class="row">
            <div class="col-lg-12 card-margin">
                <div class="card search-form">
                    <div class="card-body p-0">
                        <div id="search-form">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row no-gutters">
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <select class="form-control" onchange="getval(this);" id="exampleFormControlSelect1">
                                                <option value="no">Some Famous Players</option>
                                                <option value="Sachin Tendulkar">Sachin Tendulkar</option>
                                                <option value="Virat Kohli">Virat Kohli</option>
                                                <option value="Chris Gayle">Chris Gayle</option>
                                                <option value="Steve Smith">Steve Smith</option>
                                                <option value="David Warner">David Warner</option>
                                                <option value="Brett Lee">Brett Lee</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                            <input type="text" placeholder="Search..." class="form-control" id="search" name="search" required>
                                        </div>
                                        <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                            <button id="go_search" class="btn btn-base">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" id="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="row">
                <div class="col-12">
                    <div class="card card-margin">
                        <div class="card-body">
                            <div class="row search-body">
                                <div class="col-lg-12">
                                    <div class="search-result">
                                        <div class="result-body">
                                            <div class="table-responsive">
                                                <table class="table widget-26">
                                                    <tbody id="search_data">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="error_message" class="alert alert-danger mt-5 mb-5" role="alert">
                An Error Occured Please Try Again !!
            </div>
            <div id="no_message" class="alert alert-warning mt-5 mb-5" role="alert">
                No Player Found With Given Name !!
            </div>
        </div>

    <div class="d-flex justify-content-center">
        <div class="spinner-border" id="spinner-border-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <!--Player Info Card-->
    <div class="player-popup">
        <div class="player-content" id="player-card-info">
        </div>
    </div>

    <!--Footer-->
    <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>About Us</h4>
                            <ul class="list-unstyled">
                                Sportify is a web app for sports lover
                                we create web app as per your interest
                                To know more about us, just follow us.
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <!--Column2-->
                    <div class="footer-pad">
                        <h4>Facing A Issue</h4>
                        <ul class="list-unstyled">
                            <a href="mailto:aadityasinghal1978@gmail.com">Send Email!!</a>
                        </ul>
                    </div>
                </div>
                    <div class="col-md-4">
                        <h4>Follow Us</h4>
                        <ul class="social-network social-circle">
                            <li><a href="https://twitter.com/aaditya_1978" target="_blank" class="icoFacebook" title="Facebook"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/aaditya-singhal-a46720192/" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 copy">
                        <p class="text-center">&copy; Copyright 2021 - Sportify.  All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!--JS Script Links-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="../static/js/player_info.js"></script>

</body>
</html>